/* app css stylesheet */

.logo {
    letter-spacing: 8px;
    width: 140px;
    color: white;
    font-weight: bold;
}

.footer {
    position: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 2em;
    background-color: #3F51B5;
    color: white;
    padding-bottom: 2em;
    display: block;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse {
    border-radius: 0px;
    background-color: rgb(63, 81, 181);
    background-image: linear-gradient(to bottom,#3F51B5 0,#3F51B5 20%);
    border-color: rgb(63, 81, 181);
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.btn1 {
    border-radius: 6px 6px 6px 6px;
    font-size: 10px;
    margin: 3px 0px 3px 0px;
}

section[flex="100"] {
    margin: 3px 0px 3px 0px;
    background-color: #106CC8;
}

.iris-menu {
    color: white;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success.ng-show {
    transition: 0.5s linear all;
    opacity: 1;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-danger.ng-show {
    transition: 0.5s linear all;
    opacity: 1;
}

.md-button.md-fab.iris-blue {
    background-color: rgb(63, 81, 181);
}

.md-button.md-fab.iris-blue:not([disabled]):hover {
    background-color: rgb(63, 81, 181);
}