<md-dialog flex="45" ng-cloak ng-init="disable=true">
    <form name="contactForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Contact</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="disable=false">
                    <md-icon md-svg-src="editor:ic_mode_edit_24px" aria-label="Éditer"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="annuler()">
                    <md-icon md-svg-src="navigation:ic_close_24px" aria-label="Fermer"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="column">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input ng-model="contactsController.contact.nom" ng-disabled="disable" name="nom" required
                                   placeholder="Nom">
                            <div ng-messages="contactForm.nom.$error">
                                <div ng-message="required">Le nom est obligatoire</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input ng-model="contactsController.contact.prenom" ng-disabled="disable" name="prenom"
                                   required placeholder="Prénom">
                            <div ng-messages="contactForm.prenom.$error">
                                <div ng-message="required">Le prénom est obligatoire</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <input ng-model="contactsController.contact.entreprise" ng-disabled="disable"
                                   placeholder="Entreprise">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input ng-model="contactsController.contact.fonction" ng-disabled="disable"
                                   placeholder="Fonction">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container flex="65" class="md-block" flex-gt-sm>
                            <md-icon md-svg-src="communication:ic_email_24px" class="email"></md-icon>
                            <input ng-model="contactsController.contact.email" type="email" ng-disabled="disable"
                                   placeholder="Email">
                        </md-input-container>
                        <md-input-container flex="35" class="md-block" flex-gt-sm>
                            <md-icon md-svg-src="communication:ic_phone_24px"></md-icon>
                            <input ng-model="contactsController.contact.telephone" ng-disabled="disable"
                                   placeholder="Téléphone">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row" layout-align="end">
                        <md-button class="md-raised md-primary" ng-disabled="disable"
                                   ng-click="enregistrer(contactsController.contact)">Enregistrer
                        </md-button>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>